<%# <%= form_with(model: @company) do |f|
  <div>
    <%=f.label :company_name %>
    <%=f.text_field :company_name %>
  </div>
  <div>
    <%=f.label :logo %>
    <%=f.text_field :logo %>
  </div>
  <div>
    <%=f.label :address %>
    <%=f.text_field :address %>
  </div>
  <div>
    <%=f.label :website %>
    <%=f.text_field %>
  </div>
  <div>
    <%=f.label %>
    <%=f.text_field %>
  </div>
  <div>
    <%=f.label %>
    <%=f.text_field %>
  </div>
  <div>
    <%=f.label %>
    <%=f.text_field %>
  </div>
  <div>
    <%=f.label %>
    <%=f.text_field %>
  </div> %>
 %>
